$cider-bg: #fafafa;
$header-height: 161px;

.cider {
	display: block;
	overflow: hidden;
	color: #111;
	background: $cider-bg;
	position: relative;
	float: left;
	width: 100%;

	@at-root .main--post-image & {
		display: none;

		@media (min-width: 768px) {
			display: block;
		}
	}

	@media (min-width: $small) {
		width: 260px;
	}

	&--fixed {
		@media (min-width: $small) {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
		}
	}

	&__header {
		padding: 15px 10px;
		box-sizing: border-box;
		display: block;
		transition: all 300ms ease-in-out;
		width: 100%;

		@media (min-width: 768px) {
			position: absolute;
			bottom: calc(100% - #{$header-height} - 44px);
			height: $header-height;
		}
	}

	&__title { margin: 10px 0 10px; }
	&__content { margin: 0; }

	&__container {
		position: relative;
		height: 100%;
	}

	&__sub {
		margin: 0;
		font-weight: normal;
		font-size: 1em;
	}
}

@media (min-width: 768px) {
	.new .cider {
	  padding-top: 44px;
	}

	.new .cider__header {
	  bottom: 230px;
	}

	.new .cider__nav {
	  transform: translateY(300%);
	}

	.new .hero {
	  bottom: 3%;
	  left: 9px;
	  transform: scale(0.55);
	}
}
