.nav {
	display: block;
	color: black;
	text-align: center;
	position: fixed;
	top: 0;
	left: 44px;
	z-index: 1000;
	background: white;


	&__link {
		font-weight: normal;
		font-size: 0.775em;
		display: block;

		padding: 0 10px;
		width: 82px;
		line-height: 44px;
		height: 44px;

		position: relative;

		color: inherit;
		box-sizing: border-box;
		text-decoration: none;

		&:hover {
			color: black;
		}

		@media (min-width: $small) {
			line-height: 44px;
			height: 44px;
		}
	}
}
