.article-footer {
	color: #ccc;
	box-sizing: border-box;
	padding-bottom: 40px;

	a {
		color: #444;
	}

	&--has-hero {
		@media (min-width: 1000px) {
			width: 50%;
			margin: 0 0 0 42%;
			position: relative;
			float: left;
		}
	}
}

.post-nav {
	&__link {
		float: none;
		clear: both;
		display: block;
		box-sizing: border-box;
		background: #fafafa;
		color: #333;
		padding: 25px 0;
		width: 100%;
		margin: 0 auto 15px;
		padding: 25px 0;
		text-decoration: none;
		text-align: center;

		@media (min-width: 768px) {
			width: 50%;
			margin: 0 0 25px;
			float: left;
			clear: none;
		}

		&:hover {
			background: #efefef;
			color: #222;
		}
	}

	&__content {
		margin: 0;
	}

	&__prev {
		background: #eee;
		color: #999;
	}

	&__next {
		background: #ddd;
		color: #111;
	}
}
