.rider {
	display: block;
	box-sizing: border-box;
	float: right;
	padding: 5%;
	width: 100%;

	@media (min-width: $small) {
		width: calc(100% - 260px);
		max-width: 933px;
    margin-left: 260px;
    margin-right: auto;
		float: none;
	}

	.cider--wide + & {
		@media (min-width: $small) {
			width: 50%;
		}
	}

	&--fuller {
		@media (min-width: $small) {
			width: 100%;
		}
	}

}
